/* Admin Styles */

.posts-widget-row {
	margin: 1em 0;
}
.posts-widget-container input[type=checkbox] {
	margin-right: 0.5em;
}
.posts-widget-container input[type=checkbox] + label {
    font-style: italic;
}
.posts-widget-container h4 {
    border-bottom: 1px solid #BBBBBB;
}